.wrap{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #FFC246;
    position: relative;
}
.in{
    padding: 25px 0 15px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header__wrap{
    width: 100%;
    position: relative;
}