.wrap{
    width: 100%;
    height: calc(100vh - 245px);
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.in{
    width: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.content__wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.content__image{
    width: 100%;
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.content__image > img{
    width: 100%;
}

.content__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info__wrap{
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 10px;
}

.info__row > p{
    margin: 0;
}