body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #FFC246;
}
* {
	scrollbar-width: thin;
	scrollbar-color: #F8F8F8 #fff;
}
::selection{
	background-color: #F8F8F8;
	color: #fff;
}
*::-webkit-scrollbar {
	width: 8px;
}
*::-webkit-scrollbar-track {
	background: #fff;
}
*::-webkit-scrollbar-thumb {
	background-color: #F8F8F8;
	border-radius: 20px;
	border: 0px none #F8F8F8;
}


